<h2>My Cellars</h2>

<% if @cellars and @cellars.length > 0 %>
	<% @cellars.each do |cellar| %>
		<hr>
		<!-- <p>cellar: <%= cellar.cellar_name %> </p> -->
		<a href="/cellars/<%= cellar.id %>"><%= cellar.cellar_name %></a>
		<form action="/cellars/<%=cellar.id%>" method="POST">
			<input hidden name="_method" value="DELETE">
			<button>Empty the Cellar!</button>
		</form>
		<a href="/cellars/<%= cellar.id %>/wine/new">Add A Wine to the Cellar</a>
		
		<hr>
		<br />
	<% end %>
<% end %>
<a href="/cellars/new">Create a New Cellar</a>

