<h2>Edit Wine Information for <%= @wine.wine_name %></h2>
 
<form action="/wines/<%= @wine.id %>" method="POST">
	<input type="hidden" name="_method" value="PUT">
	<input type="text" name="wine_name" value="<%= @wine.wine_name %>" placeholder="Name of the Wine..."><br />
	<input type="text" name="winemaker" value="<%= @wine.winemaker %>" placeholder="Winemaker..."><br />
	<input type="text" name="wine_region" value="<%= @wine.wine_region %>" placeholder="Region..."><br />
	<input type="text" name="wine_varietals" value="<%= @wine.wine_varietals %>" placeholder="Varietal(s)..."><br />
	<input type="text" name="wine_vintage" value="<%= @wine.wine_vintage %>" placeholder="Vintage..."><br />
	<input type="text" name="wine_image_url" value="<%= @wine.wine_image_url %>" placeholder="Image URL...><br />
	<input type="text" name="wine_link" value="<%= @wine.wine_link %>" placeholder="LInk to wine Info..."><br />
	<input type="text" name="wine_notes" value="<%= @wine.wine_notes %>" placeholder="Notes on the Wine..."><br />

	<button>Update Wine</button>
</form>